body {
	color: black;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: sans-serif, arial, helvetica;
}

p {
	font-size: 24px;
	text-align: justify;
}

li {
	font-size: 13pt;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: black;
}

hr {
	border: none;
	color: #404040;
	background-color: #404040;
	height: 1px;
}

span {
	color: #1BEA14FF;
}

h1 {
	text-align: center;
}

.content {
	flex-grow: 2;
}

.layout {
	background: linear-gradient(#4b4a45, #4b4a45 210px);
}

.logo {
	width: 18%;
}

.menu {
	border: 2px solid green;
	border-right: 2px solid green;
	border-bottom: 2px solid green;
	height: 100%;
	width: 18%;
}

.main {
	text-align: center;
}

.logotyp {
	padding-left: 0.13%;
}