body {
	color: black;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* background-color: #F8F9FBFF; */
	background-image: url(../images/luxfon335.jpg);
	font-family: sans-serif, arial, helvetica;
}

p {
	font-size: 24px;
	text-align: justify;
}

* {
	font-family: roboto, sans-serif,
}

li {
	font-size: 13pt;
	list-style-type: none;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: black;
}

hr {
	border: none;
	color: #404040;
	background-color: #404040;
	height: 1px;
}

span {
	color: #1BEA14FF;
}

h1 {
	text-align: center;
	font-size: 16pt;
}

h2 {
	padding-left: 6px; 
}
p::before {
	content: '	';
}


.content {
	margin-left: 160px;
}

.menu-h2 {
	font-size: 15pt;
}

li {
	font-size: 9pt;
}

.logo {
	width: 18%;
}

.menu {
	margin-left: 1px;
	margin-top: 3px;
	border: 2px solid green;
	height: 620px;
	max-width: 150px;
	position: fixed;
	flex-wrap: wrap;
}

.main {
	text-align: ;

}

.display-flex {
	display: flex;
}

.logotyp {
	padding-left: 0.13%;
}

/*<button-to-top>*/
.back-to-top {
	position: fixed;
	right: 20px;
	bottom: 65px;
}

.back-to-top:hover,
.back-to-top:focus {
	filter: brightness(1.5);
	outline: none;
}
/*</button-to-top>*/