* {
    font-family: arial, sans-serif, roboto, helvetica;
}

body {
    background-color: #F5EFDD;
}

p {
    font-size: 1.1em;
    text-align: justify;
    text-indent: 1cm;
}

hr {
    /*border: none;*/
    color: #404040;
    height: 1px;
}

h1 {
    text-align: center;
    font-size: 21pt;
}

h2 {
    font-size: 14pt;
    padding-left: 1cm;
    font-weight: 500;
}

li {
    font-size: 9pt;
}

header h1 {
    font-size: 30pt;
}

header {
    min-height: 80px;
    background-color: #cfc9b9;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer {
    clear: left;
    background-color: #2C2B28;
}

#menu {
    display: table-cell;
    margin: 4px;
    border: 2px solid green;
    padding: 8px;
    min-width: 150px;
    position: fixed;
    border-radius: 6px;
    vertical-align: top;
    line-height: 0.8;
}

#menu h2 {
    color: #2B2B2B;
    font-weight: normal;
    font-size: 12pt/*calc(1.325rem + .9vw)*/;
}

#menu li {
    list-style-type: none;
}

#menu a {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    background-color: #283542;
    border-radius: 3px;
}

#menu a:hover {
    padding-left: 3px;
}

#menu ul {
    flex-wrap: wrap;
}
/* ------<MAIN>------ */
#main {
    display: table-cell;
    vertical-align: top;
    padding: 8px;
    margin: 0 620px 0 174px;
}
/* ------</MAIN>------ */
#tableContainer {
    display: table;
}

#tableRow {
    display: table-row;
}

#logo {
    width: 18%;
}

.img-align {
    text-align: center;
    vertical-align: middle;
}

.contacts-img {
    width: 25px;
    height: 25px;
    padding: 3px;
}

.contact-list {
    width: 100%;
    padding: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.button-align-card {
    text-align: center;
}

.cont-container {
    justify-content: space-between;
}

.contactspt {
    display: inline-block;
    border: 2px solid black;
}

/*----<button-to-top>----*/
#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 65px;
    border-radius: 64px;
    background: green;
}

.back-to-top:hover, .back-to-top:focus {
    filter: brightness(1.5);
    outline: none;
}
/*----</button-to-top>----*/